<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta content='True' name='HandheldFriendly'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <include file="common/meta" />
</head>
<body id="startbbs">
<include file="common/header" />
<div class="masthead">
    <div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">请登录</div>
                <div class="card-body sm">
                    <form action="{$conf.loginUrl}" method="post" data-validate="true">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label text-right">用户名</label>
                            <div class="col-md-6">
                                <input class="form-control form-control-sm" name="username" type="text" check="username" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label text-right" >密码</label>
                            <div class="col-md-6">
                                <input class="form-control form-control-sm" name="password" type="password" check="password" />
                            </div>
                        </div>
                        <if condition="$conf.show_captcha == 'on'">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-right">验证码</label>
                                <div class="col-md-4">
                                    <input class="form-control form-control-sm" name="captcha" type="text" check="captcha"/>
                                </div>
                                <div class="col-md-3">
                                    <a href="javascript:reloadcode();" title="更换验证码">
                                        <img src="{$conf.captchaUrl}" name="checkCodeImg" id="checkCodeImg" border="0"/>
                                    </a>
                                    <!--
                                    <a href="javascript:reloadcode();">换一张 </a>
                                    -->
                                </div>
                            </div>
                            <script language="javascript">
                                //刷新图片//刷新验证码函数
                                function reloadcode() {
                                    var verify = document.getElementById('checkCodeImg');
                                    verify.setAttribute('src', '{$conf.captchaUrl}?' + Math.random());
                                }
                            </script>
                        </if>
                        <div class='form-group row'>
                            <label class="col-md-2 col-form-label" ></label>
                            <div class="col-md-offset-2 col-md-9">
                                <button type="submit" name="commit" class="btn btn-primary btn-sm">登 入</button>
                                <a href="{$conf.resetpwPostUrl}" class="btn btn-secondary btn-sm" role="button">忘记密码</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.col-md-8 -->

        <div class="col-md-4">
            <include file="common/login" />
            <include file="common/ad" />
        </div><!-- /.col-md-4 -->

    </div><!-- /.row -->
</div><!-- /.container -->
</div>
<include file="common/footer" />
<include file="common/validator" />
</body>
</html>