<extend name="base" />
<block name="main">
    <div class="row">
        <div class="col-md-9">
            <div class="card module">
                <h3 class="card-header">请登录</h3>
                <div class="card-body">
                    {$alert}
                    <form action="{$action}" method="post">
                        <div class="form-group">
                            <label>用户名</label>
                            <input name="login" type="text"class="form-control" placeholder="用户名 / email" check="login">
                        </div>
                        <div class="form-group">
                            <label>密码</label>
                            <input type="password" name="password" class="form-control" placeholder="密码">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label>验证码</label>
                                <input type="text" name="captcha" class="form-control" check="captcha" placeholder="输入验证码" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <img src="{$captcha}" border="0" />
                        </div>
                        <button type="submit" class="btn btn-primary"> 登 入 </button>
                        <button type="submit" class="btn">忘记密码</button>
                    </form>
                </div>
            </div>

        </div><!-- /.col-md-9 -->

        <div class="col-md-3">

        </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
</block>
<block name="js">
    <include file="validator" />
</block>
