<!doctype html>
<html lang="en">
<head>
    <include file="header" />
</head>

<body >

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <include file="nav" />

    <main role="main" class="rounded inner cover">
        <h2 class="cover-heading">
            设置
        </h2>
        <p class="lead"></p>
        <div class="module">
            <h3 class="card-header">个人设置</h3>
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control form-control-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control form-control-sm" id="inputPassword3" placeholder="Password">
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        First radio
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Second radio
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                                    <label class="form-check-label" for="gridRadios3">
                                        Third disabled radio
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <div class="col-sm-2">Checkbox</div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Example checkbox
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="module">
            <h3 class="card-header">个人设置</h3>
            <div class="card-body">
                <form method="post" action="{$action}">
                    <div class="form-group">
                        <label>所在地</label>
                        <input class="form-control col-md-6" name="location" type="text" value="{$auth.location}"/>
                    </div>
                    <div class="form-group">
                        <label>性别</label>
                        <div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input value="1" type="radio" id="sex-1" name="sex" class="custom-control-input" checked>
                                <label class="custom-control-label" for="sex-1">男</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input value="2" type="radio" id="sex-2" name="sex" class="custom-control-input">
                                <label class="custom-control-label" for="sex-2">女</label>
                            </div>
                        </div>
                        <small class="text-muted"></small>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label>生日</label>
                            <select class="custom-select d-block w-100" name="year">
                                <option value="0">年</option>
                                <option value="1991">1991年</option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label>&nbsp;</label>
                            <select class="custom-select d-block w-100" name="month">
                                <option value="0">月</option>
                                <option value="9">9月</option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label>&nbsp;</label>
                            <select class="custom-select d-block w-100" name="day">
                                <option value="0">日</option>
                                <option value="15">15日</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>职业</label>
                        <input class="form-control" name="occupation" type="text" value="{$auth.occupation}"/>
                    </div>
                    <div class="form-group">
                        <label>个人网页</label>
                        <input class="form-control" name="homepage" type="text" value="{$auth.homepage}" placeholder="需要以https:// 或 http://开头"/>
                        <small class="text-muted">你的个人网页信息会出现在你的个人面板等处展示</small>
                    </div>

                    <div class="form-group">
                        <label>签名</label>
                        <textarea class="form-control" cols="40" name="signature" rows="5">{$auth.signature}</textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"> 更新资料 </button>
                    </div>
                </form>
            </div>
        </div>


        <div class="module">
            <h3 class="card-header">头像上传</h3>
            <div class="card-body">
                <div class="setting">
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label">当前头像</label>
                            <div>
                                <img class="large_avatar rounded" src="{$auth.avatarBig}" class="img-rounded">&nbsp;
                                <img class="middle_avatar rounded" src="{$auth.avatar}" class="img-rounded">&nbsp;
                                <img class="small_avatar rounded" src="{$auth.avatarSmall}" class="img-rounded">
                                <div >
                                    <a href="/setting/avatar">上传新头像</a>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <p class="text-muted">NBCX 禁止使用任何低俗或者敏感图片作为头像</p>
                        <p class="text-muted">如果你是男的，请不要用女人的照片作为头像，这样可能会对其他会员产生误导</p>
                        <p class="text-muted">建议请尽量不要使用真人头像，即使是自己的照片，使用别人的照片则是坚决被禁止的行为</p>
                    </fieldset>
                </div>
            </div>
        </div>

    </main>
    <include file="footer" />
    <include file="validator" />
</div>

</body>
</html>

