<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta content='True' name='HandheldFriendly'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <include file="common/meta" />
</head>
<body>
<include file="common/header" />
<div class="masthead">
    <div class="container">
    <div class="row">
        <include file="user/setting/menu" />
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <div class="setting">
                        <div class="alert alert-info alert-avatar">
                            <strong>注意！</strong> 更新密码以后需要重新登陆。
                        </div>
                        <form action="/setting/password" method="post">
                            <div class="form-group">
                                <label>当前密码</label>
                                <input class="form-control" name="oldpassword" type="password" check="password"/>
                            </div>
                            <div class="form-group">
                                <label>新密码</label>
                                <input class="form-control" name="password" type="password" check="password"/>
                            </div>
                            <div class="form-group">
                                <label>密码确认</label>
                                <input class="form-control" name="repassword" type="password" check="repassword"/>
                            </div>

                            <div class='form-group'>
                                <button type="submit" name="commit" class="btn btn-primary">修改密码</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<include file="common/validator" />
<include file="common/footer" />
</body>
</html>