<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>{$title}</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="//cdn.nb.cx/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.nb.cx/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="//cdn.nb.cx/highlightjs/9.14.0/styles/default.min.css">
<link href="//cdn.nb.cx/css/markdown.css" rel="stylesheet">
<link href="_theme_style.css?v={:time()}" rel="stylesheet">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- markdown -->
<style>
    .lead {
        border-top: 1px solid #d1d5da;
        padding-top: 10px;
        padding-bottom: 5px;
        width: 100%;
    }
    .markdown-body {
        width: 100%;
        background: none;
        border: none;
        font-size: 14px;
        padding: 0px;
    }
    .markdown-body ul li p,.markdown-body ol li p {
        margin-bottom: 5px;
    }
    .markdown-body img{
        width: auto;
        max-width: 100%;
    }
</style>