<!doctype html>
<html lang="en">
<head>
    <include file="header" />
</head>

<body >

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column mt-5">

    <main role="main" class="rounded inner cover">
        <h2 class="cover-heading">密码错误</h2>
        <!--
        <div class="alert {$status?'alert-danger':'alert-success'}" role="alert">{$msg}</div>
        -->
        <p>
            <a id="target" href="{$url?:'javascript:history.back();'}" class="alert-link">
                {:$time?'如果您的浏览器没有自动跳转，请点击这里！':'请点击这里跳转！'}
            </a>
            <if condition="$time">
                <script language="javascript">
                    setTimeout(function () {
                        document.getElementById("target").click();
                    }, {$time});
                </script>
            </if>
        </p>
    </main>

</div>

</body>
</html>

