<!doctype html>
<html lang="en">
<head>
    <include file="header" />

    <style>

    </style>
</head>

<body >

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <include file="nav" />

    <main role="main" class="rounded inner cover">
        <h3 class="cover-heading">社区板块
            <if condition="$auth.islogin">
                <a href="/posted" class="pull-right small" style="font-size: 12px;line-height: 46px;">
                    发帖
                </a>
                <else />
                <div class="pull-right small">
                    <a href="/login"  style="font-size: 12px;line-height: 46px;">
                        登录
                    </a> .
                    <a href="/register" style="font-size: 12px;line-height: 46px;">
                        注册
                    </a>
                </div>
            </if>
        </h3>
        <p class="lead"></p>
        {$alert}
        <div>
            <!---->
            <div class="module node">
                <h3 class="card-header">新帖导读
                    <span class='pull-right'>{$conf.system.site_name}</span>
                </h3>
                <div class="card-body">
                    <ul class="row list-group list-group-flush">
                        <volist name="new_topics" id="v">
                            <li class="col-md-6">
                                <a href="{$v.url}" class="list-group-item">{$v.title|sb_substr=18}</a>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>

            <!-- 手动调整0or1，后期完善-->
            <if condition="0">
                <div class="module node">
                    <h3 class="card-header">所有节点
                    </h3>
                    <div class="card-body">
                        <ul class="media-list">
                            <volist name="catelist" id="v">
                                <li class="media section">
                                    <a class="media-left" href="#">
                                        <img class="img-rounded" src="{$v.ico}" alt="{$v.cname}">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a href="{$v.url}">{$v.cname}</a>
                                        </h4>
                                        <p class="text-muted">{$v.content}</p>
                                        <p class="text-muted">版主:{$v.master}</p>
                                    </div>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>
                <else />
                <volist name="catelist" id="v">
                    <div class="module node">
                        <h5 class="card-header">{$v.name}</h5>
                        <div class="card-body">
                            <if condition="$v.child.have">
                                <ul class="media-list list">
                                    <volist name="$v.child" id="c">
                                        <li class="media section">
                                            <a class="media-left" href="{$c.url}">
                                                <img class="img-rounded" src="{$c.ico}" alt="{$c.cname}" />
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="{$c.url}">{$c.name}</a>
                                                </h4>
                                                <p class="text-muted">{$c.content}</p>
                                                <p class="text-muted">版主:{$c.master}</p>
                                            </div>
                                            <div class="media-right text-right">
                                                <p>{$c.today}/今日</p>
                                                <p>{$c.count}/总话题</p>
                                            </div>
                                        </li>
                                    </volist>
                                </ul>
                            <else />
                                暂无节点
                            </if>
                        </div>
                    </div>
                </volist>
            </if>

            <div class="module node">
                <h3 class="card-header">热门话题
                </h3>
                <div class="card-body">
                    <h4>
                        <a href="#" class="btn badge badge-primary">PHP</a>
                        <span class="badge badge-secondary">安装失败</span>
                        <span class="badge badge-success">Success</span>
                        <span class="badge badge-danger">大神</span>
                        <span class="badge badge-warning">Warning</span>
                        <span class="badge badge-danger">Danger</span>
                        <span class="badge badge-warning">Warning</span>
                        <span class="badge badge-info">Info</span>
                        <span class="badge badge-light">Light</span>
                        <span class="badge badge-success">Success</span>
                        <span class="badge badge-danger">Danger</span>
                        <span class="badge badge-warning">Warning</span>
                        <span class="badge badge-info">Info</span>
                        <span class="badge badge-light">Light</span>
                        <span class="badge badge-dark">Dark</span>
                        <span class="badge badge-info">Info</span>
                        <span class="badge badge-light">Light</span>
                        <span class="badge badge-dark">Dark</span>
                        <button class="btn badge badge-primary">Primary</button>
                        <span class="badge badge-secondary">Secondary</span>
                        <span class="badge badge-success">Success</span>
                    </h4>

                </div>
            </div>
            <if condition="$catelist.isEmpty">
                <div class="card card-default">
                    <div class="card-body">
                        暂无节点，请到后台添加
                    </div>
                </div>
            </if>
        </div>
    </main>
    <include file="footer" />
</div>

</body>
</html>

