<!doctype html>
<html lang="en">
<head>
    <include file="header" />
</head>

<body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <include file="nav" />

    <main role="main" class="rounded inner cover">
        <h2 class="cover-heading">社区
            <div class="pull-right small" style="font-size: 12px;line-height: 46px;">
                <a href="/tag">话题广场</a> •
                <if condition="$auth.islogin">
                    <a href="/posted" >发帖</a>
                <else />
                    <a href="/login">登录</a> •
                    <a href="/register">注册</a>
                </if>
            </div>
        </h2>
        <p class="lead"></p>
        <div class="module topic" >
            <div class="card-body list">
                <ul class="media-list">
                    <volist name="topics" id="v">
                        <li class="media">
                            <a class="media-left has-tags" href="{$v.author.url}">
                                <img class="rounded medium" src="{$v.author.avatar}" alt="{$v.author.username}" />
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading topic-list-heading">
                                    <a href="{$v.url}">{$v.title}</a>
                                    <if condition="$v.is_top">
                                        <span class="badge badge-info">置顶</span>
                                    </if>
                                </h4>
                                <p class="text-muted">
                                    <span><a href="{$v.node.url}">{$v.node.cname}</a></span>&nbsp;•&nbsp;
                                    <span><a href="{$v.author.url}">{$v.author.username}</a></span>&nbsp;•&nbsp;
                                    <span>{$v.utFmt}</span>&nbsp;•&nbsp;
                                    <if condition="$v.ruid">
                                        <span>最后回复来自 <a href="{$v.ruser.url}">{$v.ruser.username}</a></span>
                                        <else />
                                        <span>暂无回复</span>
                                    </if>
                                </p>
                                <p class="item-tags">
                                    <a href="/tag/MySQL">MySQL</a>
                                    <a href="/tag/Test">Test</a>
                                    <a href="/tag/%E5%9E%83%E5%9C%BE%E4%BF%A1%E6%81%AF">垃圾信息</a>
                                    <a href="/tag/%E5%AE%A2%E6%88%B7%E7%AB%AF">客户端</a>
                                    <a href="/tag/%E6%B5%8B%E8%AF%95">测试</a>
                                </p>
                            </div>
                            <div class="media-right">
                            <span class="badge badge-info topic-comment">
                                <a href="{$v.replyUrl}">{$v.comments}</a>
                            </span>
                            </div>
                        </li>
                    </volist>
                    <style>
                        .item-tags {
                            padding-top: 3px;
                        }
                        .item-tags a {
                            display: inline;
                            padding: 1px 4px;
                            font-size: 12px;
                            float: left;
                            margin: 0 2px;
                            color: #262626;
                            border: 1px solid #bfbfbf;
                            background-color: #fff;
                            white-space: nowrap;
                            transition: background-color .2s ease-in-out;
                        }
                        .item-tags a:link, .item-tags a:visited, .item-tags a:active {
                            color: #555;
                            text-decoration: none;
                            word-wrap: break-word;
                        }
                    </style>
                    <volist name="topics" id="v">
                        <li class="media">
                            <a class="media-left" href="{$v.author.url}">
                                <img class="img-rounded medium" src="{$v.author.avatar}" alt="{$v.author.username} medium avatar" />
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading topic-list-heading">
                                    <a href="{$v.url}">{$v.title}</a>
                                    <if condition="$v.is_top">
                                        <span class="badge badge-info">置顶</span>
                                    </if>
                                </h4>
                                <p class="text-muted">
                                    <span><a href="{$v.node.url}">{$v.node.cname}</a></span>&nbsp;•&nbsp;
                                    <span><a href="{$v.author.url}">{$v.author.username}</a></span>&nbsp;•&nbsp;
                                    <span>{$v.utFmt}</span>&nbsp;•&nbsp;
                                    <if condition="$v.ruid">
                                        <span>最后回复来自 <a href="{$v.ruser.url}">{$v.ruser.username}</a></span>
                                        <else />
                                        <span>暂无回复</span>
                                    </if>
                                </p>
                            </div>
                            <div class="media-right">
                            <span class="badge badge-info topic-comment">
                                <a href="{$v.replyUrl}">{$v.comments}</a>
                            </span>
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
        <hr />
        <nav aria-label="Page navigation example">
            <ul class="pagination ">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">上一页</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">下一页</a>
                </li>
            </ul>
        </nav>
    </main>
    <include file="footer" />
</div>
</body>
</html>

