<div style="height: 30px;"></div>
<footer class="footer small">
    <div class="container text-center">
        <hr/>
        <div class="text-muted">
            <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a>
            <span>京公网安备11010802014853</span>
        </div>
    </div>
</footer>
<!--
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
-->
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" ></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e93c594fee892cb970231370d6af5dc5";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>