<title>{$conf.site_name} - {$conf.short_intro}</title>
<link rel="icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/favicon.png" sizes="180x180">
<meta name="keywords" content="{$conf.site_keywords}"/>
<meta name="description" content="{$conf.short_intro}"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link href="_theme_res/css/test.css?v=6" media="screen" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
    var baseurl = '{$conf.url}';
    var siteurl = '{$conf.url}';
    var sitedomain = '<?=get_domain()?>';
</script>
<style>
    .container {
        max-width: 1000px;
    }
</style>
<script type="text/javascript" src="_pub_js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="_pub_base.js"></script>
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<meta name="theme-color" content="#343a40">