<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row item-navbar">
    <div class="container d-flex justify-content-between">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <style>
                        .caret-right {
                            display: inline-block;
                            width: 0;
                            height: 0;
                            margin-left: 10px;
                            vertical-align: middle;
                            border-left: 4px solid;
                            border-top: 4px solid transparent;
                            border-bottom: 4px solid transparent;
                        }
                    </style>
                    <a class="nav-link" href="{$conf.nodeUrl}">所有节点<span class="caret-right"></span></a>
                </li>
                <volist name="$catelist" id="v">
                    <li class="nav-item">
                        <a class="nav-link" href="{$v.url}">{$v.cname}</a>
                    </li>
                </volist>
            </ul>
        </div>

        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item">
                <a class="nav-link p-2" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
            </li>

            <li class="nav-item">
                <a class="btn btn-primary btn-sm btn-outline-success" href="{$conf.postUrl}">发表新贴</a>
            </li>

        </ul>
    </div>

</nav>