<nav class="text-center">
<?php if ($page): ?>
<script type="text/javascript" src="_static_js/bootstrapPager.js"></script>
    <script>
        document.write(Pager({
            totalCount:{$page.total}, 		//总条数为150
            pageSize:{$page.rows},    			//每页显示6条内容，默认10
            buttonSize:12,   		//显示6个按钮，默认10
            pageParam:'page',   		//页码的参数名为'p'，默认为'page'
            className:'pagination', //分页的样式
            prevButton:'«',     //上一页按钮
            nextButton:'»',     //下一页按钮
            //firstButton:'首页',      //第一页按钮
            //lastButton:'末页',       //最后一页按钮
        }));
    </script>
<?php endif; ?>
</nav>
