<style>
    .secondary {
        background-color: #ffffff;
        border: none;
        margin-top: -20px;
        min-height: 40px;
        line-height: 40px;
        max-height: 40px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
        border-radius: 0;
    }
    .secondary .container .navbar-header {
        padding-right: 15px;

    }
    .secondary .container .navbar-header a {
        color: #333;
        text-decoration: none;
    }
    .secondary .container .navbar-header a:hover {
        color: #5FB878;
    }
    .secondary .nav> li > a{
        margin: 0;
        padding: 10px 15px 10px 15px;
        height: 40px;
        color: #333;
    }
    .secondary .nav> li > a:hover{
        color: #5FB878;
    }
    .secondary .nav .active>a:hover {
        color: #5FB878;
        background-color: #ffffff;
    }
    .secondary .nav .active>a {
        color: #5FB878;
        background-color: #ffffff;
    }
    .secondary .nav .open>a:hover {
        color: #5FB878;
        background-color: #ffffff;
    }
    .secondary .nav li>a:focus, .secondary .nav li>a:hover {
        color: #5FB878;
    }
</style>
<div class="navbar navbar-inverse secondary">
    <div class="container" >
        <div class="row" style="text-align: center">
            <span>你也可以：</span>
            <a href="#">附件售卖</a>
            <a href="#">发布插件</a>
            <a href="#">发布主题</a>
        </div>

    </div>
</div>
