<extend name="base" />

<block name="main">
    <div class="row">
        <div class="col-md-9">
            <div class="card module">
                <div class="card-header">
                    <!--<div class="card-title">创建新主题</div>-->
                    <include file="user/nav" />
                </div>
                <div class="card-body">
                    <div >
                        <div class="col-md-12">
                            <h4>{$user.username}</h4>
                            <p class="text-muted">
                                <small>{$user.username}是第{$user.uid} 号会员，加入于{$user.regtime}</small>
                            </p>
                            <p>签名：{$user.signature}</p>
                            <p>个人主页：<a href="{$user.homepage}">{$user.homepage}</a></p>
                            <p>所在地：{$user.location}</p>
                        </div>
                        <div class="col-md-12">
                            <p>{$user.introduction}</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card module">
                <h3 class="card-header">
                    <small>{$user.username} 最近创建的主题</small>
                </h3>
                <div class="card-body">
                    <if condition="$topics.have">
                        <ul class="media-list list">
                            <volist name="topics" id="v">
                                <li class="media ">
                                    <div class="media-body">
                                        <h4 class="media-heading topic-list-heading">
                                            <a href="{$v.url}">{$v.title}</a>
                                        </h4>
                                        <p class="small text-muted">
                                            <span><a href="{$v.node.url}">{$v.node.cname}</a></span>&nbsp;•&nbsp;
                                            <span>{$v.addtime}</span>&nbsp;•&nbsp;
                                            <if condition="$v.rname.isHave" >
                                                <span>最后回复来自 <a href="{$v.ruser.url}">{$v.ruser.username}</a></span>
                                                <else />
                                                <span>暂无回复</span>
                                            </if>
                                        </p>
                                    </div>
                                    <div class="media-right">
                                        <span class="badge badge-info">{$v.comments}</span>
                                    </div>
                                </li>
                            </volist>
                        </ul>
                    <else />
                        <div>{$auth.nick}还没有发表任何帖子</div>
                    </if>

                    <ul class="pagination"></ul>
                </div>
            </div><!-- /.topics -->

            <div class="card module">
                <div class="card-header">
                    <small>{$user.username} 最近回复了</small>
                </div>
                <div class="card-body">
                    <if condition="$comments.have">
                        <ul class="media-list list">
                            <volist name="comments" id="v">
                                <li class="media">
                                    <div class="media-body reply_content">
                                        <h4 class="media-heading topic-list-heading">
                                            <small>回复了 <a href="{$v.user.url}" title="{$v.user.username}">{$v.user.username}</a>
                                                创建的主题
                                            </small>
                                            <a href="{$v.topic.url}">{$v.topic.title}</a>
                                        </h4>
                                        <blockquote>
                                            {$v.content}
                                            <small>{$v.replytime}</small>
                                        </blockquote>
                                    </div>
                                </li>
                            </volist>
                        </ul>
                    <else />
                        <div>{$auth.nick}还没有发表任何回复</div>
                    </if>

                    <!--<ul class="pagination"></ul>-->
                </div>
            </div><!-- /.comments -->

        </div>

        <div class='col-md-3'>
            <include file="parts/user" />
        </div>
    </div>
</block>
<block name="js">
    <style>
        .modal-backdrop {
            z-index:auto;
        }
    </style>
    <div class="modal fade" id="message">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title">发信给</h4>
                </div>
                <div class="modal-body">
                    <form id="send-message" class="form-horizontal">
                        <input type="hidden" id="token" name="<?php echo $csrf_name; ?>" value="<?php echo $csrf_token; ?>">
                        <div class="form-group">
                            <div class="col-md-2 control-label"><label class="required">发给：</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="<?php echo $user['username'] ?>" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label"><label>内容</label></div>
                            <div class="col-md-8">
                                <textarea id="content" name="content" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-2">
                                <input type="hidden" name="receiver_uid" id="receiver_uid" value="<?php echo $user['uid']; ?>">
                                <button class="btn btn-primary" type="submit">发送</button>
                            </div>
                            <div class="col-md-4">
                                <div id="error" class="red"></div>
                            </div>
                        </div>
                    </form>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        $(function () {
            $('#send-message').on('submit', function (e) {
                e.preventDefault();
                var receiver_uid = $('#receiver_uid').val();
                var content = $.trim($('#content').val());
                var token = $('#token').val();
                if (content == '') {
                    $('#error').html('内容不能为空!');
                    return false;
                }
                $.ajax({
                    url: '/message/send',
                    type: 'post',
                    dataType: 'json',
                    data: {receiver_uid: receiver_uid, content: content,{$csrf_name}:token},
                success: function (data) {
                    $('#content').val(data);
                    $('#message').modal('hide');
                }
            });
            });

        });
    </script>
</block>

