/*reset css*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
input,
textarea,
p,
th,
td {
  padding: 0;
  margin: 0;
}
a {
  color: #404040;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
blockquote {
  font-weight: normal;
  font-size: 14px;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
small {
  font-size: 12px;
}
.w1,
.w2,
.w3,
.w4,
.w5,
.w6,
.w7,
.w8,
.w9,
.w10,
.w11,
.w12,
.w13,
.w14,
.w15,
.w16,
.w17,
.w18,
.w19,
.w20,
.w21,
.w22,
.w23,
.w24 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 15px;
  float: left;
}
.w1 {
  width: 4.66666667%;
}
.w2 {
  width: 8.33333333%;
}
.w3 {
  width: 12.5%;
}
.w4 {
  width: 16.66666667%;
}
.w5 {
  width: 20.83333333%;
}
.w6 {
  width: 25%;
}
.w7 {
  width: 29.16666667%;
}
.w8 {
  width: 33.33333333%;
}
.w9 {
  width: 37.5%;
}
.w10 {
  width: 41.66666667%;
}
.w11 {
  width: 41.66666667%;
}
.w12 {
  width: 50%;
}
.w13 {
  width: 54.16666667%;
}
.w14 {
  width: 58.33333333%;
}
.w15 {
  width: 62.5%;
}
.w16 {
  width: 66.66666667%;
}
.w17 {
  width: 70.83333333%;
}
.w18 {
  width: 75%;
}
.w19 {
  width: 79.16666667%;
}
.w20 {
  width: 83.33333333%;
}
.w21 {
  width: 87.5%;
}
.w22 {
  width: 91.66666667%;
}
.w23 {
  width: 95.83333333%;
}
.badge-info {
  background-color: #AAB0C6;
  color: white;
}
.badge-info a {
  color: white;
}
ul.user-list {
  margin-top: 5px;
}
ul.user-list li {
  text-align: center;
  margin: 0 8px 10px 0px;
  float: left;
  overflow: hidden;
  font-size: 12pt;
}
ul.user-list li img {
  width: 50px;
  height: 50px;
  background: #fff;
}
.alert-avatar {
  margin-top: 20px;
}
.nav-tabs,
.nav-pills {
  margin-bottom: 20px;
}
.section {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.section img {
  width: 50px;
  height: 50px;
}
.nodes {
  margin: 0 2px 8px;
}
.label-grey {
  color: #fff;
  background-color: #BFBFBF;
  font-size: 15px;
  display: inline-block;
  margin: 4px 1px;
}
.label-grey a,
.label-grey a:hover,
.label-default a:focus {
  color: #FFF;
}
.tag {
  padding: 2px 2px 0px 20px;
  margin: 10px 2px 0px 2px;
  background: url(../images/tag.gif) no-repeat 0 6px;
  color: #CCC;
}
.content img,
.reply_content img {
  display: block;
  height: auto;
  max-width: 100%;
}
embed,
object,
iframe {
  width: 100%;
}
.medium {
  width: 48px;
  height: 48px;
}
.smallhr {
  margin: 10px 0;
}
.link-text-muted a {
  color: #444;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background: #F2F2F2;
  margin-bottom: 60px;
}
.masthead {
  /*
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #343a40;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#343a40),to(#F2F2F2));
  background-image: -webkit-linear-gradient(top,#343a40 0,#F2F2F2 200px);
  background-image: -o-linear-gradient(top,#343a40 0,#F2F2F2 200px);
  background-image: linear-gradient(to bottom,#343a40 0,#F2F2F2 200px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343a40', endColorstr='#F2F2F2', GradientType=0);
  background-repeat: repeat-x;
  */
  padding-top: 30px;
}
.masthead {
  font-family: "FontAwesome", "Arial", "Microsoft YaHei", "宋体", sans-serif;
  font-size: 14px;
  /*
  font-family: Helvetica, Arial, "PingFang SC", "Noto Sans", Roboto, "Microsoft Yahei", sans-serif;
  letter-spacing: .03em;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  */
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
  font-weight: normal;
  font-size: 14px;
}
.setting {
  margin-top: 20px;
  margin-bottom: 20px;
}
.bd-navbar {
  height: 45px;
  background-color: #343a40;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.bd-navbar .navbar-toggler {
  padding: .1rem .45rem;
}
/*
.bd-navbar .navbar-brand {
  margin-right: 0rem;
}
*/
@media (min-width: 992px) {
  .hidden-lg {
    display: none !important;
  }
}
@media (max-width: 991.99px) {
  .bd-navbar {
    /*
    height: 50px;
    padding-right: .5rem;
    padding-left: .5rem
    */
    height: auto;
    padding-right: .5rem;
    padding-left: .5rem;
    padding: .2rem 1rem;
  }
  .bd-navbar .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: 0.875rem;
  }
  .bd-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  #nav > ul > li > a.nav-link {
    border-bottom: 1px solid rgba(134, 142, 150, 0.3);
  }
}
@media (min-width: 768px) {
  @supports ((position:-webkit-sticky) or (position:sticky)) {
    .bd-navbar {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1071;
    }
  }
}
.bd-navbar .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #9d9d9d;
}
.bd-navbar .navbar-nav .nav-link.active,
.bd-navbar .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: transparent;
}
.bd-navbar .navbar-nav .nav-link.active {
  font-weight: 500;
}
.bd-navbar .navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}
.bd-navbar .dropdown-menu {
  font-size: .875rem;
  border-radius: 0;
  border: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.bd-navbar .dropdown-menu .dropdown-item {
  padding: .1rem 1.5rem;
}
.bd-navbar .dropdown-item.active {
  font-weight: 500;
  color: #212529;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: .4rem .6rem;
  background-size: 0.75rem 0.75rem;
}
.item-navbar {
  height: 40px;
  background: #f9f9f9;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 991.99px) {
  .item-navbar {
    height: 40px;
    padding-right: .5rem;
    padding-left: 0.5rem;
  }
  .item-navbar .navbar-nav-scroll {
    max-width: 100%;
    margin-top: .25rem;
    overflow: hidden;
    font-size: 0.875rem;
  }
  .item-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: .1rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}
@media (min-width: 768px) {
  @supports ((position:-webkit-sticky) or (position:sticky)) {
    .item-navbar {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  }
}
.item-navbar .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #606060;
}
.item-navbar .navbar-nav .nav-link.active,
.item-navbar .navbar-nav .nav-link:hover {
  /*color: #fff;*/
  background-color: transparent;
  color: #000;
  text-decoration: none;
  /*border-bottom: 2px dotted #666666;*/
}
.item-navbar .navbar-nav .nav-link.active {
  font-weight: 500;
}
.item-navbar .navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}
.item-navbar .dropdown-menu {
  font-size: 0.875rem;
}
.item-navbar .dropdown-item.active {
  font-weight: 500;
  color: #212529;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: .4rem .6rem;
  background-size: 0.75rem 0.75rem;
}
@media (min-width: 768px) {
  .header-navbar {
    height: 40px;
    padding: 0;
    border: 0px;
    color: #404040;
    line-height: 100%;
  }
  .item-navbar .navbar-nav .btn {
    margin-top: 2px;
  }
  .item-navbar .container {
    padding-left: 10px;
    padding-right: 18px;
  }
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: transparent;
}
.list li {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.list li:last-child {
  border-bottom: none;
}
.topic-list-heading {
  margin: 0 0 5px 0;
}
.topic-list-heading a {
  font-size: 16px;
  color: #444;
}
.topic-list li,
.reply-list li {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.topic-list li:last-child {
  border-bottom: none;
}
.media {
  margin-top: 10px;
}
.media-left {
  margin-right: 10px;
}
@media (max-width: 991.99px) {
  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    padding-right: 0;
    padding-left: 0;
  }
  .card {
    border-radius: 0;
  }
  .masthead {
    padding-top: 20px;
  }
}
.card {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  border-top: 0;
  box-shadow: 0 0 0;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.card-header {
  color: #777;
  font-size: 14px;
  background: #fafafa;
  border-bottom-color: #eee;
}
.card-header h2 {
  font-size: 20px;
  color: #333;
}
.card-header a {
  color: #404040;
  font-size: 14px;
}
.card-body {
  word-wrap: break-word;
  word-break: normal;
  padding: 10px 15px;
}
.card-body .heading {
  font-size: 16px;
  color: #777;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}
.card-body .avatar {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-body p img,
.reply-body img {
  width: 100%;
  height: auto;
}
.card .card-header,
.card .card-footer {
  padding: 6px 15px;
}
.card-footer {
  border-top-color: #eee;
  background: #fff;
}
.opts {
  color: #666;
}
.opts a {
  display: inline-block;
  border-radius: 3px;
}
.opts a:link,
.opts a:visited {
  color: #404040;
  line-height: 100%;
  padding: 4px;
  text-decoration: none;
}
.reply a.user {
  color: #404040;
  font-size: 13px;
}
.reply .floor {
  color: #7AA87A;
  font-size: 13px;
}
@media (min-width: 1026px) {
  .reply .hideable {
    display: none;
  }
  .reply li:hover .hideable {
    display: inline-block;
  }
}
.reply p.content {
  font-size: 15px;
  line-height: 26px;
}
.reply p.content a {
  color: #0069D6 !important;
}
.reply abbr {
  color: #999;
  text-decoration: none !important;
  cursor: pointer;
  font-size: 12px;
}
.reply-body {
  padding-left: 20px;
}
.topic-detail-heading h2 {
  font-size: 22px;
  margin: 5px 0;
}
.topic-detail-heading img {
  width: 64px;
}
.red {
  color: #FF0000;
}
/** stats **/
.card .text-muted .row div {
  text-align: center;
  font-size: 12px;
}
.form {
  display: inline;
  margin: 0;
  padding: 0;
  /* inputs */
}
.form .form-inline .form-group {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.form .form-inline .form-group .noborder {
  outline: 0 !important;
  border: 1px solid #bfbfbf;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-radius: 0;
}
.form .form-inline .form-group input.noborder {
  width: 100%;
}
.form .form-inline .form-group select.noborder {
  background-color: #eee;
  background: transparent;
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari 和 Chrome */
}
.form input,
.form select,
.form textarea {
  vertical-align: middle;
  outline: 0;
}
.form input[type="text"],
.form .tags-list {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  /*margin-bottom: 1px;*/
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #A6A6A6;
  vertical-align: middle;
  background-color: white;
}
.form input[type="text"]:focus,
.form .input[type="text"]:hover,
.form .tags-list:focus,
.form .tags-list:hover {
  color: #676767;
  margin-bottom: 0;
  border-bottom: 2px solid #33B5E5;
}
.form .inputnotice {
  color: #db4437 !important;
  margin-bottom: 0 !important;
  border-bottom: 2px solid #db4437 !important;
}
.form input.textbtn {
  color: #3C3C3C;
  text-decoration: none;
  vertical-align: middle;
  border: none;
  background-color: #D6D7D7;
  -webkit-appearance: button;
  transition: background-color 0.5s ease-in-out;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 20px;
  font-size: 13px;
  line-height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-shadow: none;
}
.form input.textbtn:hover {
  background: #ADE1F4;
  box-shadow: 0 0 2px #33B5E5;
}
.content textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/* tag */
.tagForm .tags-list {
  padding: 6px 12px 0 0px;
}
.tagForm .tag-input {
  outline: 0 !important;
  float: left !important;
  font-size: 12px !important;
  padding: 4px 8px !important;
  border: none !important;
  margin-bottom: 6px !important;
  width: 25% !important;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
}
.tagForm .tag-input:focus {
  outline: 0;
  float: left;
  font-size: 12px;
  padding: 4px 8px;
  border: none;
  margin-bottom: 6px;
  width: 25%;
}
.tagForm .item {
  overflow: hidden;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
}
.tagForm .item a {
  display: inline;
  padding: 4px 8px;
  font-size: 12px;
  float: left;
  margin: 0 4px 6px 0;
  color: #262626;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  white-space: nowrap;
  transition: background-color 0.2s ease-in-out;
}
.tagForm .item a:hover {
  text-decoration: none;
  background-color: #E5E5E5;
}
.tagForm label {
  cursor: pointer;
}
.autocomplete-suggestions {
  color: #000;
  background: #f3f3f3;
  cursor: default;
  overflow: auto;
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}
.autocomplete-suggestion {
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-suggestions strong {
  font-weight: 700;
  color: #000;
}
.card .setting form {
  padding: 0px 10px;
}
.card .sm .row label {
  text-align: right!important;
}
.card form .pointer {
  cursor: pointer;
}
.card-body form {
  margin-top: 25px;
  margin-bottom: 25px;
}
.card-body .no-top {
  margin-top: 0;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #777777;
  padding: 30px 0;
  margin-top: 120px;
}
footer a {
  color: #68696d;
}
footer a:hover {
  color: #ccc;
}
.footer-bottom {
  font-size: 13px;
}
.footer-bottom ul > li {
  padding: 0;
}
.footer-bottom ul > li + li:before {
  padding: 0 10px;
  color: #ccc;
  content: "|";
}
/*# sourceMappingURL=test.css.map */